<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Clook</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <!-- FONTS & ICONS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- STYLES -->
        <link rel="stylesheet" href="/styles/w3.css">
        <link rel="stylesheet" href="/styles/main.css">

    </head>
    <body>

        {{{body}}}

    </body>
</html>
