<!-- INFO -->
<div class="w3-container w3-center">
    <img src="/images/clook512.png" class=" w3-margin-top">
    <p>Clook - v1.0.0
    <br>Author: <a href="https://github.com/tomellericcardo" target="_blank">Riccardo Tomelleri</a></p>
</div>
