<!-- MAIN CONTAINER -->
<div class="w3-container w3-main">

    {{#if clooksList}}
    <ul>
        {{#each clooksList}}
        <li><a href="/clook/{{id}}">{{title}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <p>You don't have any clook</p>
    {{/if}}

    <button id="new" class="w3-btn w3-xlarge w3-circle fab">
        <i class="material-icons">add</i>
    </button>

</div>
