<!-- MAIN CONTAINER -->
<div class="w3-main">

    <div class="w3-container clook-container">
        <div class="clook">
            <div class="timer"></div>
            <div class="middle"></div>
        </div>
    </div>

    <div class="w3-container w3-margin-top w3-center">
        <p>Clook duration: <span id="duration"></span>
        <br>Time elapsed: <span id="elapsed"></span> (<span id="sector"></span>%)</p>
        <a href="#" id="delete" class="w3-large w3-text-red">Delete clook</a>
    </div>

    <button class="w3-btn w3-xlarge w3-circle fab start-and-stop">
        <i class="material-icons">play_arrow</i>
    </button>

</div>

<!-- CONFIRM MODAL -->
<div class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-center">
            <h1 class="w3-xlarge">Are you sure?</h1>
        </header>
        <div class="w3-container">
            <span id="close_modal" class="w3-button w3-display-topright">
                <i class="material-icons">close</i>
            </span>
            <p>Do you really want to delete this clook?</p>
            <button id="confirm" class="w3-btn w3-round w3-margin-bottom w3-right">Confirm</button>
        </div>
    </div>
</div>

<!-- CLOOK INFO -->
<script>
    var clook_info = {
        id: '{{clook._id}}',
        duration: {{clook.duration}},
        {{#if clook.color}}
        color: '{{clook.color}}',
        {{/if}}
        {{#if clook.started}}
        started: '{{clook.started}}'
        {{/if}}
    };
</script>
