<!-- MAIN CONTAINER -->
<div class="w3-main">

    <div class="w3-container clook-container">
        <div class="clook">
            <div class="timer"></div>
            <div class="middle"></div>
        </div>
    </div>

    <div class="w3-container w3-margin-top w3-center">
        <p>Clook duration: <span id="duration"></span>
        <br>Time elapsed: <span id="elapsed"></span> (<span id="sector"></span>%)</p>
        <a href="#" class="w3-large w3-text-red delete">Delete clook</a>
    </div>

    <button class="w3-btn w3-xlarge w3-circle fab start-and-stop">
        <i class="material-icons">play_arrow</i>
    </button>

</div>

<!-- CLOOK INFO -->
<script>
    var clookInfo = {
        id: '{{clook._id}}',
        duration: {{clook.duration}},
        {{#if clook.color}}
        color: '{{clook.color}}',
        {{/if}}
        {{#if clook.started}}
        started: '{{clook.started}}'
        {{/if}}
    };
</script>
