<!-- MAIN CONTAINER -->
<div class="w3-main">

    <div class="w3-container clook-container">
        <div class="clook">
            <div class="timer"></div>
            <div class="middle"></div>
        </div>
    </div>

    <div class="w3-container">
        <button id="delete" class="w3-btn w3-round">Delete</button>
        <p id="message"><br></p>
    </div>

    <button id="start-and-stop" class="w3-btn w3-xlarge w3-circle fab">
        <i class="material-icons">play_arrow</i>
    </button>

</div>

<!-- CLOOK INFO -->
<script>
    {{#if clook.color}}
    document.documentElement.style.setProperty('--clook-color', '{{clook.color}}');
    {{/if}}
    var clookInfo = {
        id: '{{clook._id}}',
        duration: {{clook.duration}},
        {{#if clook.started}}
        started: '{{clook.started}}'
        {{/if}}
    };
</script>
