<!-- ERROR MESSAGE -->
<div class="w3-container w3-center">
    <i class="material-icons big-icon">error</i>
    <p>{{error.status}} - {{error.message}}
    <br>Go back to the <a href="/clooks">homepage</a></p>
</div>
