<h1>Login</h1>
<form action="/authenticate" method="post">
    <input type="text" id="username" name="username", placeholder="Username"><br>
    <input type="password" id="password" name="password", placeholder="Password"><br>
    <input type="submit" value="Authenticate">
</form>
<a href="/registration">Register a new account</a>
