<h1>Login</h1>

<input type="text" id="username" class="login_field" placeholder="Username"><br>
<input type="password" id="password" class="login_field" placeholder="Password"><br>
<button id="authenticate">Authenticate</button>

<p id="message"><br></p>
<a href="/registration">Register a new account</a>

<script src="/scripts/ajax.js"></script>
<script src="/scripts/message.js"></script>
<script src="/scripts/login.js"></script>
