<!-- LOGIN FORM -->
<div class="w3-container">
    <p id="message" class=""><br></p>
    <input type="text" id="username" class="w3-input login_field" placeholder="Username"><br>
    <input type="password" id="password" class="w3-input login_field" placeholder="Password"><br>
    <button id="authenticate" class="w3-btn w3-round w3-right">Authenticate</button><br>
</div>

<!-- REGISTRATION -->
<div class="w3-container w3-margin-top w3-center">
    <a href="/registration">Register a new account</a>
</div>

<!-- SCRIPTS -->
<script src="/scripts/ajax.js"></script>
<script src="/scripts/message.js"></script>
<script src="/scripts/login.js"></script>
