<h1>New clook</h1>
<form action="/clook" method="post">
    <input type="text" id="title" name="title", placeholder="Title"><br>
    <input type="number" id="duration" name="duration", placeholder="Duration"><br>
    <input type="text" id="color" name="color", placeholder="Color"><br>
    <input type="submit" value="Create">
</form>
