<!-- NEW CLOOK FORM -->
<div class="w3-container">
    <p id="message" class=""><br></p>
    <input type="text" id="title" class="w3-input clook_field" placeholder="Title"><br>
    <input type="time" value="01:00" id="duration" class="w3-input clook_field"><br>
    <select id="color" class="w3-select">
        <option value="#b03634" style="color: #b03634">Red</option>
        <option value="#e28e26" style="color: #e28e26">Orange</option>
        <option value="#4caf50" style="color: #4caf50">Green</option>
        <option value="#528bff" style="color: #528bff">Blue</option>
        <option value="#c66cac" style="color: #c66cac">Violet</option>
    </select><br><br>
    <button id="create" class="w3-btn w3-round w3-right">Create</button>
</div>
