<h1>Registration</h1>
<form action="/users/register" method="post">
    <input type="text" id="username" name="username", placeholder="Username">
    <input type="password" id="password" name="password", placeholder="Password">
    <input type="password" id="password2" name="password2", placeholder="Repeat password">
    <input type="submit" value="Register">
</form>
