
/* CLOOK CONTAINER */
.clook-container {
    padding: 20px 20px 0 20px;
}

/* CLOOK ELEMENT */
.clook {
    position: relative;
    left: 10%;
    width: 80%;
}

/* TIMER ELEMENT */
.timer {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* CLOOK's MIDDLE */
.middle {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
