
body {
    background-color: #282c34;
    color: #ffffff;
}

#clook {
    position: fixed;
    top: 50px;
    left: 20%;
    width: 60%;
}

#timer {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #b03634;
}

#center {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    background-color: #282c34;
}
