:root {
    --primary-color: #282c34;
    --secondary-color: #2c313c;
    --field-color: #3a3f4b;
    --button-color: #3f51b5;
    --link-color: #82abff;
    --text-color: #ffffff;
    --error-color: #ff3e3a;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

.w3-modal-content {
    background-color: var(--secondary-color);
}

.responsive {
    height: 1px;
}

header {
    background-color: var(--primary-color);
}

.menu {
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
    font-size: 20px;
    position: absolute;
    left: 0;
}

.menu:focus, .menu:hover {
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
}

.menu i {
    vertical-align: middle;
}

button {
    background-color: var(--button-color)!important;
    color: #ffffff!important;
}

.fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding: 10px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

input, select {
    background-color: var(--field-color);
    color: var(--text-color);
}

input:focus, select:focus, button:focus {
    outline: none;
}

#error {
    color: var(--error-color);
}
