/* SIDEBAR CLOSE BUTTON */
#close-sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* SIDEBAR ELEMENT */
#sidebar {
    box-shadow: 3px 5px 5px 0 rgba(0, 0, 0, 0.16), 4px 8px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--primary-color);
    display: none;
}

#sidebar i {
    vertical-align: middle;
    margin-right: 8px;
}

#sidebar .w3-bottom {
    width: 200px;
    margin-bottom: 10px;
}
